In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [31]:
data = pd.read_csv('data/filtered_data.csv')
data

,days_to_depart,flight_day_of_week,startingAirport,destinationAirport,stops,route,class,airline,travelDuration_h,elapsedDays,isBasicEconomy,isRefundable,isNonStop,seatsRemaining,totalTravelDistance,total_waiting_time,travel_dist_not_available,baseFare,totalFare
0,44,3,LAX,ORD,1,LAX->DFW->ORD,coach,NK,9.983333,1,False,False,False,0,2037.0,4.37,True,21.11,91.29
1,44,3,LAX,ORD,0,LAX->ORD,coach,NK,4.050000,0,False,False,True,0,1745.0,0.00,True,43.00,99.89
2,44,3,LAX,ORD,0,LAX->ORD,coach,NK,4.066667,0,False,False,True,0,1745.0,0.00,True,43.00,99.89
3,44,3,LAX,ORD,1,LAX->LAS->ORD,coach,NK,5.800000,1,False,False,False,0,1753.0,0.92,True,33.00,103.18
4,44,3,LAX,ORD,1,LAX->LAS->ORD,coach,NK,6.800000,1,False,False,False,0,1753.0,1.92,True,33.00,103.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88784,53,5,ATL,ORD,1,ATL->DCA->ORD,coach,AA,5.783333,0,False,False,False,7,1135.0,1.67,False,175.81,213.20
88785,53,5,ATL,ORD,1,ATL->DFW->ORD,coach,AA,5.850000,0,False,False,False,7,1524.0,1.02,False,175.81,213.20
88786,53,5,ATL,ORD,1,ATL->JFK->ORD,coach,B6,7.116667,0,False,False,False,7,1492.0,1.85,False,202.79,242.20
88787,53,5,ATL,ORD,0,ATL->ORD,coach,DL,2.233333,0,False,False,True,9,600.0,0.00,False,226.98,258.90
88788,53,5,ATL,ORD,1,ATL->DTW->ORD,coach,DL,3.850000,0,False,False,False,9,844.0,0.57,False,226.98,268.20

In [32]:
data[['isBasicEconomy', 'isRefundable', 'isNonStop','travel_dist_not_available']]=data[['isBasicEconomy', 'isRefundable', 'isNonStop','travel_dist_not_available']].astype(int)

In [33]:
data

,days_to_depart,flight_day_of_week,startingAirport,destinationAirport,stops,route,class,airline,travelDuration_h,elapsedDays,isBasicEconomy,isRefundable,isNonStop,seatsRemaining,totalTravelDistance,total_waiting_time,travel_dist_not_available,baseFare,totalFare
0,44,3,LAX,ORD,1,LAX->DFW->ORD,coach,NK,9.983333,1,0,0,0,0,2037.0,4.37,1,21.11,91.29
1,44,3,LAX,ORD,0,LAX->ORD,coach,NK,4.050000,0,0,0,1,0,1745.0,0.00,1,43.00,99.89
2,44,3,LAX,ORD,0,LAX->ORD,coach,NK,4.066667,0,0,0,1,0,1745.0,0.00,1,43.00,99.89
3,44,3,LAX,ORD,1,LAX->LAS->ORD,coach,NK,5.800000,1,0,0,0,0,1753.0,0.92,1,33.00,103.18
4,44,3,LAX,ORD,1,LAX->LAS->ORD,coach,NK,6.800000,1,0,0,0,0,1753.0,1.92,1,33.00,103.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88784,53,5,ATL,ORD,1,ATL->DCA->ORD,coach,AA,5.783333,0,0,0,0,7,1135.0,1.67,0,175.81,213.20
88785,53,5,ATL,ORD,1,ATL->DFW->ORD,coach,AA,5.850000,0,0,0,0,7,1524.0,1.02,0,175.81,213.20
88786,53,5,ATL,ORD,1,ATL->JFK->ORD,coach,B6,7.116667,0,0,0,0,7,1492.0,1.85,0,202.79,242.20
88787,53,5,ATL,ORD,0,ATL->ORD,coach,DL,2.233333,0,0,0,1,9,600.0,0.00,0,226.98,258.90
88788,53,5,ATL,ORD,1,ATL->DTW->ORD,coach,DL,3.850000,0,0,0,0,9,844.0,0.57,0,226.98,268.20

In [34]:
data.drop('route',inplace=True,axis=1)

In [35]:
data.isna().sum()

days_to_depart                  0
flight_day_of_week              0
startingAirport                 0
destinationAirport              0
stops                           0
class                           0
airline                         0
travelDuration_h                0
elapsedDays                     0
isBasicEconomy                  0
isRefundable                    0
isNonStop                       0
seatsRemaining                  0
totalTravelDistance          3225
total_waiting_time              0
travel_dist_not_available       0
baseFare                        0
totalFare                       0
dtype: int64

In [36]:
data = data.dropna()

In [37]:
data = data.reset_index(drop=True)
data

,days_to_depart,flight_day_of_week,startingAirport,destinationAirport,stops,class,airline,travelDuration_h,elapsedDays,isBasicEconomy,isRefundable,isNonStop,seatsRemaining,totalTravelDistance,total_waiting_time,travel_dist_not_available,baseFare,totalFare
0,44,3,LAX,ORD,1,coach,NK,9.983333,1,0,0,0,0,2037.0,4.37,1,21.11,91.29
1,44,3,LAX,ORD,0,coach,NK,4.050000,0,0,0,1,0,1745.0,0.00,1,43.00,99.89
2,44,3,LAX,ORD,0,coach,NK,4.066667,0,0,0,1,0,1745.0,0.00,1,43.00,99.89
3,44,3,LAX,ORD,1,coach,NK,5.800000,1,0,0,0,0,1753.0,0.92,1,33.00,103.18
4,44,3,LAX,ORD,1,coach,NK,6.800000,1,0,0,0,0,1753.0,1.92,1,33.00,103.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85559,53,5,ATL,ORD,1,coach,AA,5.783333,0,0,0,0,7,1135.0,1.67,0,175.81,213.20
85560,53,5,ATL,ORD,1,coach,AA,5.850000,0,0,0,0,7,1524.0,1.02,0,175.81,213.20
85561,53,5,ATL,ORD,1,coach,B6,7.116667,0,0,0,0,7,1492.0,1.85,0,202.79,242.20
85562,53,5,ATL,ORD,0,coach,DL,2.233333,0,0,0,1,9,600.0,0.00,0,226.98,258.90
85563,53,5,ATL,ORD,1,coach,DL,3.850000,0,0,0,0,9,844.0,0.57,0,226.98,268.20

In [54]:
categorical_cols = data.select_dtypes(include=['object']).columns.tolist()
print(categorical_cols)

['startingAirport', 'destinationAirport', 'class', 'airline']

In [55]:
data_copy = data.copy()

In [56]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [57]:
data_copy

,days_to_depart,flight_day_of_week,startingAirport,destinationAirport,stops,class,airline,travelDuration_h,elapsedDays,isBasicEconomy,isRefundable,isNonStop,seatsRemaining,totalTravelDistance,total_waiting_time,travel_dist_not_available,baseFare,totalFare
0,44,3,LAX,ORD,1,coach,NK,9.983333,1,0,0,0,0,2037.0,4.37,1,21.11,91.29
1,44,3,LAX,ORD,0,coach,NK,4.050000,0,0,0,1,0,1745.0,0.00,1,43.00,99.89
2,44,3,LAX,ORD,0,coach,NK,4.066667,0,0,0,1,0,1745.0,0.00,1,43.00,99.89
3,44,3,LAX,ORD,1,coach,NK,5.800000,1,0,0,0,0,1753.0,0.92,1,33.00,103.18
4,44,3,LAX,ORD,1,coach,NK,6.800000,1,0,0,0,0,1753.0,1.92,1,33.00,103.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85559,53,5,ATL,ORD,1,coach,AA,5.783333,0,0,0,0,7,1135.0,1.67,0,175.81,213.20
85560,53,5,ATL,ORD,1,coach,AA,5.850000,0,0,0,0,7,1524.0,1.02,0,175.81,213.20
85561,53,5,ATL,ORD,1,coach,B6,7.116667,0,0,0,0,7,1492.0,1.85,0,202.79,242.20
85562,53,5,ATL,ORD,0,coach,DL,2.233333,0,0,0,1,9,600.0,0.00,0,226.98,258.90
85563,53,5,ATL,ORD,1,coach,DL,3.850000,0,0,0,0,9,844.0,0.57,0,226.98,268.20

In [58]:
data_copy = pd.get_dummies(data_copy,columns=categorical_cols)

In [59]:
data_copy

,days_to_depart,flight_day_of_week,stops,travelDuration_h,elapsedDays,isBasicEconomy,isRefundable,isNonStop,seatsRemaining,totalTravelDistance,...,airline_DL+AS,airline_DL+UA,airline_F9,airline_NK,airline_SY,airline_UA,airline_UA+9K,airline_UA+9X,airline_UA+AS,airline_UA+DL
0,44,3,1,9.983333,1,0,0,0,0,2037.0,...,0,0,0,1,0,0,0,0,0,0
1,44,3,0,4.050000,0,0,0,1,0,1745.0,...,0,0,0,1,0,0,0,0,0,0
2,44,3,0,4.066667,0,0,0,1,0,1745.0,...,0,0,0,1,0,0,0,0,0,0
3,44,3,1,5.800000,1,0,0,0,0,1753.0,...,0,0,0,1,0,0,0,0,0,0
4,44,3,1,6.800000,1,0,0,0,0,1753.0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85559,53,5,1,5.783333,0,0,0,0,7,1135.0,...,0,0,0,0,0,0,0,0,0,0
85560,53,5,1,5.850000,0,0,0,0,7,1524.0,...,0,0,0,0,0,0,0,0,0,0
85561,53,5,1,7.116667,0,0,0,0,7,1492.0,...,0,0,0,0,0,0,0,0,0,0
85562,53,5,0,2.233333,0,0,0,1,9,600.0,...,0,0,0,0,0,0,0,0,0,0
85563,53,5,1,3.850000,0,0,0,0,9,844.0,...,0,0,0,0,0,0,0,0,0,0

In [60]:
#data_copy.to_csv('data/ready_to_use.csv',index=False)